@import "../../index.scss";

.tour {
    // background: $mainGrey;
    margin: 2rem 0;
    // Sumaia updated border radius
    border-radius: 20px;
    // Thin added
    // Sumaia updated background color
    //background-color: #F47340;
    background-color: #242423;


    img {
        width: 100%;
        display: block;
        min-height: 13rem;
        border-radius: 30px;
    }
}
// Thin added
body{
    background-image: url('../../../public/img/haunted3.jpeg');
    background-attachment: fixed;
   background-size: cover;
}

@media screen and (min-width: 768px) {
    .tour {
        display: grid;
        grid-template-columns: 2fr 3fr;
        grid-column-gap: 1rem;
    }
}

.img-container {
    position: relative;
}

.close-btn {
    position: absolute;
    display: block;
    top: 5%;
    right: 5%;
    // ilan changed the close button color
    color: $mainBlack;
    font-size: 2rem;
    cursor: pointer;
    transition: $mainTransition;
    opacity: 0;
}

.img-container:hover .close-btn {
    opacity: 1;
}

.tour-info {
    // sumaia added the color
    color: #f47340;
    padding: 1rem .5rem;
    h3 {
        text-transform: capitalize;
        margin: .2rem 0 0.6rem 0;
    }
    h5 {
        text-transform: capitalize;
        span {
            // ilan changed this color
            color: $iconGrey;
            margin: .5rem;
            font-size: 1.2rem;
            cursor: pointer;
        }
    }
}
