
/* Add image and structure for filter */
.main-footer {
    color: white;
    background-image: url('~/public/footer1.jpg');
    background-size: fill;
    background-repeat: no-repeat;
    padding-top: 2%;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 100%;
  }

#copyright {
    position: absolute;
    text-align: center;
    bottom: 2em;
    font-size: 20px;
}

/* Column setup */
.col1 { 
    float: center;
    width: 33.33%;
    text-align: left;
    padding-left: 5%;
}

.col2 {
    float: center;
    width: 33.33%;
    text-align: center;
    font-size: 30px;
}

.col3 {
    width: 33.33%;
    text-align: right;
    padding-right: 5%;
}

/* Used to control each row */
.row-footer {
    display: flex;
    flex: 33.33%;
    padding: 5px;
    justify-content: center;
}

/* Used to control the address nad icons portion */
.ulstuff {
    list-style-type: none;
    text-align: center;
}



/* Used to manage the disclaimer */
#footer-p {
    font-size: 14px;
    max-width: 70%;
    text-align: left;

}

/* Puts space between icons */
.astuff { 
    padding: 10px 30px;
}



/* Styling for Button */
.footer-button {
    background-color: #4f73eb;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}


.footer-button:hover,
.footer-button:focus {
  background-color: #9caff0;
}

//Controls the email address
.footer-input {
    width: 50%;
    height: 3em;
    font-size: 14px;
}

// Controls enter your message box
#message {
    width: 67.5%;
    height: 50%;
    font-size: 14px;
    resize: vertical;
    max-height: fit-content;
}